<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/gf_icon"
        android:label="Factur\nExpress"
        android:roundIcon="@mipmap/gf_icon_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionFacturas"
        tools:targetApi="31">
        <activity
            android:name=".VisualizarPDFActivity"
            android:exported="false" />
        <activity
            android:name=".InformesActivity"
            android:exported="false" />
        <activity
            android:name=".CrearLineasFacturaActivity"
            android:exported="false" />
        <activity
            android:name=".CrearFacturaActivity"
            android:exported="false" />
        <activity
            android:name=".ClientesActivity"
            android:exported="false" />
        <activity
            android:name=".ProductosActivity"
            android:exported="false" />
        <activity
            android:name=".AnadirEmpleadoActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroEmpleadoActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroDireccionClienteActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroClienteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RegistroEmailActivity"
            android:exported="true" />
        <activity
            android:name=".RegistroDireccionActivity"
            android:exported="true" />
        <activity
            android:name=".RegistroActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>